{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 style="text-align: center; margin-top: 5dvh">Welcome To Sigmos.</h1>
    <h2 style="text-align: center; margin-top: 2.5dvh; margin-bottom: 5dvh">"Ts is the tuffest graphing calculator."</h2>
    <hr>
</div>

<div>
    <h1 style="text-align: left; margin: 5dvw">What the phonk is ts?</h1>
    <img src="../static/img/ico_circ.png" alt="TuffestLogo" class="image-left" width="200">
    <h2>Ts is the tuffest calc in the whole world, it is so friggin' tuff and much tuffer than V1.
        No other calc is as tuff, or ever will be as tuff as this one.
        Kiggle also can't even friggin' code bruh!
    </h2>
</div>
{% endblock %}